.createTitle {
    font-size: medium;
    color: #a3e4ce;
    text-align: center;
    
}

.createTab {
    font-size: medium;
    color: #a3e4ce;
    text-align: center;
    padding-bottom: 5em;
}

.inputTable {
  padding-left: 27em;
}

