.gpt3__brand section__padding {
    font-size: larger;
    color: #1a634b;
    text-align: center;
}

.exerciseTitle {
    font-size: larger;
    color: #a3e4ce;
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,109,1) 38%, rgba(0,212,255,1) 100%);
}

.crud_section {
    font-size: larger;
    color: #ddcc6c;  
    text-align: center; 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,109,1) 38%, rgba(0,212,255,1) 100%);
}